.aboutus-style{
    background: url('./background.jpg');
    background-size: cover;
    width :98vw;
    height: 100vh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}